body {
	padding-bottom: 60px;
	margin: 0px;
	font-family: monospace;
	color: #333;
}

.grid {
    max-width: 400px;
	border: 1px solid #ccc;
    margin: 100px auto 0;
    /* Transforma em grid container */
    display: grid;
}

.item {
    margin: 5px;
    font-size: 1.5em;
    text-align: center;
    background-color: tomato;
}

.logo {
    grid-area: logo;
}

.nav {
    grid-area: nav;
}

.nav-side {
    grid-area: side-nav;
}

.content {
    grid-area: content;
}

.advert {
    grid-area: advert;
}

.footer {
    grid-area: footer;
}

.grid-1 {
    /* Primeiro linha depois coluna */
    grid: 100px / 1fr 1fr;
}

.grid-2 {
    grid: 100px / auto-flow 100px 50px;
}

.grid-3 {
    grid-template: "logo nav nav" 50px "side-nav content advert" 150px "side-nav footer footer" 100px / 100px 1fr 50px;
}