/* Reset */
body, p, h1, ul, li, blockquote {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Vollkorn", "Georgia", "serif";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

/* Grid Estrutura */
.estrutura {
    display: grid;
    /* grid: "header header header" auto "side-nav conteudo anuncios" auto "footer foooter foooter" auto / minmax(160px, 1fr) 3fr 300px; -- Alternativa */
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: "header header header" "side-nav conteudo anuncios" "footer footer footer";
}

/* Header */
.header {
    padding: 30px;
    color: #FFF;
    background: linear-gradient(135deg, #84E, #B7F);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-area: header;
}

.header .logo {
    /* O grid funciona independente do conteúdo, ou seja, mesmo o conteúdo tendo 200px, a coluna continuará pegando 1fr */
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

/*li + li -- Significa que só vai aplicar o estilo para os li que vem depois de outro li*/
.header nav li + li {
    margin-left: 30px;
}

.header nav a {
    padding: 10px;
    border-radius: 5px;
    font-size: 1.125em;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    transition: 0.1s;
}

.header nav a:hover, .header nav a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Navegação Lateral */
.side-nav {
    padding: 30px;
    background-color: #FAFBFC;
    grid-area: side-nav;
}

.side-nav a {
    min-width: 60px;
    max-width: 100px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto 30px;
    background-color: #FFF;
    display: block;
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.1);
    transition: 0.1s ease-out;
}

.side-nav a:hover, .side-nav a:focus {
    background-color: #B7F;
}

/* Conteúdo Principal */
.conteudo {
    max-width: 900px;
    padding: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-area: conteudo;
}

.col-span {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

/* Anúncios */
.anuncios {
    padding: 30px;
    background-color: #FAFBFC;
    display: grid;
    grid-template-columns: 1fr;
    /* align-content mexe com o box do elemento e não com o conteúdo, para conteúdo use o align-items */
    align-content: start;
    gap: 30px;
    grid-area: anuncios;
}

.anuncios img {
    border-radius: 5px;
}

/* Footer */
.footer {
    padding: 30px;
    text-align: center;
    color: #FFF;
    background: linear-gradient(135deg, #84E, #87F);
    grid-area: footer;
}